@import "@blueprintjs/core/lib/css/blueprint.css";

:root {
  /* Level 1 - Blueprint Tokens */
  /* Blueprint token mappings - Surface tokens */
  --osdk-surface-z-index-1: var(--bp-surface-z-index-1);
  --osdk-surface-z-index-2: var(--bp-surface-z-index-2);
  --osdk-surface-border-radius: var(--bp-surface-border-radius);
  --osdk-surface-border-width: var(--bp-surface-border-width);
  --osdk-surface-border-color-default: var(--bp-surface-border-color-default);
  --osdk-surface-background-color-default: var(
    --bp-surface-background-color-default-rest
  );
  --osdk-surface-background-color-default-hover: var(
    --bp-surface-background-color-default-hover
  );
  --osdk-surface-spacing: var(--bp-surface-spacing);
  --osdk-surface-shadow-2: var(--bp-surface-shadow-2);

  /* Blueprint token mappings - Typography tokens */
  --osdk-typography-color-muted: var(--bp-typography-color-muted);
  --osdk-typography-color-default-rest: var(--bp-typography-color-default-rest);
  --osdk-typography-size-body-medium: var(--bp-typography-size-body-medium);

  /* Blueprint token mappings - Intent tokens */
  --osdk-intent-default-foreground: var(--bp-intent-default-foreground);
  --osdk-intent-default-hover: var(--bp-intent-default-hover);
  --osdk-intent-primary-rest: var(--bp-intent-primary-rest);
  --osdk-intent-primary-foreground: var(--bp-intent-primary-foreground);
  --osdk-intent-primary-hover: var(--bp-intent-primary-hover);
  --osdk-intent-primary-active: var(--bp-intent-primary-active);

  /* Blueprint token mappings - Iconography tokens */
  --osdk-iconography-size-small: var(--bp-iconography-size-small);

  /* Shared Styling */
  --osdk-focus-visible-outline: var(--bp-emphasis-focus-width) solid
    var(--bp-emphasis-focus-color);
  --osdk-focus-visible-outline-offset: var(--bp-emphasis-focus-offset);

  /* Level 2 - OSDK Components Tokens */
  /* Checkbox */
  --osdk-checkbox-icon-size: var(--bp-iconography-size-small);
  --osdk-checkbox-padding: calc(var(--bp-surface-spacing) / 2);
  --osdk-checkbox-border: var(--bp-surface-border-width) solid
    var(--bp-surface-border-color-default);
  --osdk-checkbox-bg: transparent;
  --osdk-checkbox-bg-hover: var(--bp-surface-background-color-default-hover);
  --osdk-checkbox-bg-active: var(--bp-surface-background-color-default-active);
  --osdk-checkbox-bg-checked: var(--bp-intent-primary-rest);
  --osdk-checkbox-bg-checked-hover: var(--bp-intent-primary-hover);
  --osdk-checkbox-bg-checked-active: var(--bp-intent-primary-active);
  --osdk-checkbox-checked-foreground: var(--bp-intent-primary-foreground);

  /* Table */
  --osdk-table-border-color: var(--bp-surface-border-color-default);
  --osdk-table-border-width: var(--bp-surface-border-width);

  --osdk-table-border: var(--osdk-table-border-width) solid
    var(--osdk-table-border-color);
  --osdk-table-header-divider: var(--osdk-table-border);
  --osdk-table-cell-divider: var(--osdk-table-border-width) solid transparent;
  --osdk-table-row-divider: var(--osdk-table-border);
  --osdk-table-pinned-column-border: calc(var(--osdk-table-border-width) * 2)
    solid var(--osdk-table-border-color);

  --osdk-table-header-bg: var(--bp-palette-light-gray-5);
  --osdk-table-header-fontWeight: var(--bp-typography-weight-bold);
  --osdk-table-header-fontSize: var(--bp-typography-size-body-small);
  --osdk-table-header-color: var(--bp-typography-color-muted);

  --osdk-table-row-bg-default: var(--bp-palette-light-gray-5);
  --osdk-table-row-bg-hover: oklch(from var(--bp-palette-blue-5) l c h / 0.2);
  --osdk-table-row-bg-active: var(--bp-palette-blue-5);
  --osdk-table-row-border-color-hover: var(--bp-intent-primary-rest);
  --osdk-table-row-border-color-active: var(--bp-intent-primary-rest);

  --osdk-table-cell-padding: calc(var(--bp-surface-spacing) * 3)
    calc(var(--bp-surface-spacing) * 2);
  --osdk-table-cell-fontSize: var(--bp-typography-size-body-medium);
  --osdk-table-cell-color: var(--bp-typography-color-default-rest);

  /* Skeleton loading */
  --osdk-table-skeleton-color-from: oklch(
    from var(--bp-palette-light-gray-1) l c h / 0.4
  );
  --osdk-table-skeleton-color-to: oklch(from var(--bp-palette-gray-1) l c h / 0.4);
  --osdk-table-skeleton-border-color: oklch(
    from var(--bp-palette-light-gray-1) l c h / 0.6
  );
}
