@import "@blueprintjs/core/lib/css/blueprint.css";

:root {
  /* Checkbox */
  --osdk-checkbox-icon-size: var(--bp-iconography-size-small);
  --osdk-checkbox-padding: calc(var(--bp-surface-spacing) / 2);
  --osdk-checkbox-border: var(--bp-surface-border-width) solid
    var(--bp-surface-border-color-default);
  --osdk-checkbox-bg: transparent;
  --osdk-checkbox-bg-hover: var(--bp-surface-background-color-default-hover);
  --osdk-checkbox-bg-active: var(--bp-surface-background-color-default-active);
  --osdk-checkbox-bg-checked: var(--bp-intent-primary-rest);
  --osdk-checkbox-bg-checked-hover: var(--bp-intent-primary-hover);
  --osdk-checkbox-bg-checked-active: var(--bp-intent-primary-active);
  --osdk-checkbox-checked-foreground: var(--bp-intent-primary-foreground);

  /* Table */
  --osdk-table-border-color: var(--bp-surface-border-color-default);
  --osdk-table-border-width: var(--bp-surface-border-width);

  --osdk-table-border: var(--osdk-table-border-width) solid
    var(--osdk-table-border-color);
  --osdk-table-header-divider: var(--osdk-table-border);
  --osdk-table-cell-divider: var(--osdk-table-border-width) solid transparent;
  --osdk-table-row-divider: var(--osdk-table-border);
  --osdk-table-pinned-column-border: calc(var(--osdk-table-border-width) * 2)
    solid var(--osdk-table-border-color);

  --osdk-table-header-bg: var(--bp-palette-light-gray-5);
  --osdk-table-header-fontWeight: var(--bp-typography-weight-bold);
  --osdk-table-header-fontSize: var(--bp-typography-size-body-small);
  --osdk-table-header-color: var(--bp-typography-color-muted);

  --osdk-table-row-bg-default: var(--bp-palette-light-gray-5);
  --osdk-table-row-bg-hover: oklch(from var(--bp-palette-blue-5) l c h / 0.2);
  --osdk-table-row-bg-active: var(--bp-palette-blue-5);
  --osdk-table-row-border-color-hover: var(--bp-intent-primary-rest);
  --osdk-table-row-border-color-active: var(--bp-intent-primary-rest);

  --osdk-table-cell-padding: calc(var(--bp-surface-spacing) * 3)
    calc(var(--bp-surface-spacing) * 2);
  --osdk-table-cell-fontSize: var(--bp-typography-size-body-medium);
  --osdk-table-cell-color: var(--bp-typography-color-default-rest);

  /* Skeleton loading */
  --osdk-table-skeleton-color-from: rgba(211, 216, 222, 0.4);
  --osdk-table-skeleton-color-to: rgba(95, 107, 124, 0.4);
  --osdk-table-skeleton-border-color: rgba(211, 216, 222, 0.6);
}
