.nextSteps {
  display: flex;
  flex-direction: column;
  gap: calc(var(--bp-surface-spacing) * 4);
}

.nextStepsHeader {
  align-self: baseline;
  font-weight: 600;
  margin: 0;
}

.nextStep {
  border: 1px solid #11141826;
  border-radius: var(--bp-surface-border-radius);
  display: flex;
  gap: calc(var(--bp-surface-spacing) * 3);
  padding: calc(var(--bp-surface-spacing) * 4);
}

.nextStepContent {
  display: flex;
  flex-direction: column;
  gap: var(--bp-surface-spacing);
  text-align: left;
}

.title {
  font-weight: 600;
  margin: 0;
}

.subtitle {
  color: var(--bp-typography-color-muted);
  line-height: 20px;
}

.icon {
  background-color: color-mix(
    in srgb,
    var(--bp-palette-gray-3) 15%,
    transparent
  );
  border: 1px solid color-mix(in srgb, var(--bp-palette-black) 10%, transparent);
  border-radius: 30px;
  color: var(--bp-palette-gray-1);
  height: 34px;
  padding: calc(var(--bp-surface-spacing) * 2);
}
