export FOUNDRY_USER_TOKEN=
export FOUNDRY_STACK=myhost.mydomain.com
export MAVEN_CONJURE_BASE_PATH="https://somehost/basepath/internal-conjure"
export MAVEN_DIST_RELEASE="https://somehost/basepath/internal-dist-release"

export NEXT_FONT_GOOGLE_MOCKED_RESPONSES=$PWD/google-font-mocked-response.js