.categoryGroup {
  display: flex;
  flex-direction: column;
  gap: var(--osdk-cbac-marking-button-gap);
}

.categoryName {
  font-size: var(--osdk-cbac-picker-category-title-font-size);
  font-weight: var(--osdk-cbac-picker-category-title-font-weight);
  color: var(--osdk-cbac-picker-category-title-color);
  letter-spacing: var(--osdk-cbac-picker-category-title-letter-spacing);
  margin: 0;
}

.markingGrid {
  display: grid;
  grid-template-columns: repeat(
    var(--osdk-cbac-picker-marking-grid-columns),
    1fr
  );
  border-top: 1px solid var(--osdk-cbac-picker-marking-grid-border-color);
  border-left: 1px solid var(--osdk-cbac-picker-marking-grid-border-color);
}

.emptyCell {
  border-right: 1px solid var(--osdk-cbac-marking-button-border-color-default);
  border-bottom: 1px solid var(--osdk-cbac-marking-button-border-color-default);
}
