/**
 * CSS Layer setup
 */
@layer tailwind, osdk.components, custom.theme;

/* Import OSDK components styles */
@import "@osdk/react-components/styles.css" layer(osdk.components);

/* Import theme overrides (e.g., change primary intent to green) */
@import "./theme-overrides.css" layer(custom.theme);

/* Tailwind for utility classes */
@import "tailwindcss" layer(tailwind);

#root {
  isolation: isolate;
}
