/**
 * CSS Layer setup
 */
@layer osdk.tokens, custom.theme;

/* Import default OSDK tokens */
@import "@osdk/react-components/tokens.css" layer(osdk.tokens);

/* Import theme overrides */
/* @import "./theme-overrides.css" layer(custom.theme); */

/* Tailwind for utility classes */
@import "tailwindcss";
