/**
 * CSS Layer setup
 */
@layer osdk.tokens, custom.theme;

/* Import default OSDK tokens */
@import "@osdk/react-components/tokens.css" layer(osdk.tokens);

/* Import theme overrides (e.g., change primary intent to green) */
/* @import "./theme-overrides.css" layer(custom.theme); */

/* Tailwind for utility classes */
@import 'tailwindcss';


/* 
* TODO: How do we make sure clients always add this to their root?
* Needed for base UI popovers
*/
#root {
  isolation: isolate;
}