/**
 * CSS Layer setup
 */
@layer osdk.tokens, custom.theme;

/* Import OSDK tokens (Blueprint Level 1 + OSDK Level 2 tokens) */
@import "@osdk/react-components-styles" layer(osdk.tokens);

/* Import theme overrides (e.g., change primary intent to green) */
@import "./theme-overrides.css" layer(custom.theme);

/* Tailwind for utility classes */
@import 'tailwindcss';


/* 
* TODO: How do we make sure clients always add this to their root?
* Needed for base UI popovers
*/
#root {
  isolation: isolate;
}