:root {
  --bp-palette-black: oklch(0.2827 0.019 238.86);

  --bp-palette-white: oklch(1 0 89.88);

  /* Gray scale: dark-gray (1-5), gray (1-5), light-gray (1-5) */
  --bp-palette-dark-gray-1: oklch(0.2519 0.0152 244.29);
  --bp-palette-dark-gray-2: oklch(0.312 0.0154 240.46);
  --bp-palette-dark-gray-3: oklch(0.404 0.032 243.49);
  --bp-palette-dark-gray-4: oklch(0.5926 0.0263 240.38);
  --bp-palette-dark-gray-5: oklch(0.6109 0.0257 244.46);
  --bp-palette-gray-1: oklch(0.6792 0.0229 243.66);
  --bp-palette-gray-2: oklch(0.6792 0.0229 243.66);
  --bp-palette-gray-3: oklch(0.8562 0.0148 244.74);
  --bp-palette-gray-4: oklch(0.8562 0.0148 244.74);
  --bp-palette-gray-5: oklch(0.9178 0.0101 227.89);
  --bp-palette-light-gray-1: oklch(0.9178 0.0101 227.89);
  --bp-palette-light-gray-2: oklch(0.9587 0.0051 228.82);
  --bp-palette-light-gray-3: oklch(0.9587 0.0051 228.82);
  --bp-palette-light-gray-4: oklch(0.9809 0.0025 228.78);
  --bp-palette-light-gray-5: oklch(0.9809 0.0025 228.78);

  /* Blue scale */
  --bp-palette-blue-1: oklch(0.3466 0.153 261.33);
  --bp-palette-blue-2: oklch(0.4996 0.1637 254.86);
  --bp-palette-blue-3: oklch(0.51 0.1695 254.68);
  --bp-palette-blue-4: oklch(0.7307 0.1063 236.4);
  --bp-palette-blue-5: oklch(0.917 0.0248 254.68);

  /* Green scale */
  --bp-palette-green-1: oklch(0.3681 0.0965 152.16);
  --bp-palette-green-2: oklch(0.4717 0.1263 151.24);
  --bp-palette-green-3: oklch(0.4967 0.1412 150.75);
  --bp-palette-green-4: oklch(0.6507 0.1428 154.17);
  --bp-palette-green-5: oklch(0.9272 0.0284 150.75);

  /* Orange scale */
  --bp-palette-orange-1: oklch(0.4409 0.0946 62.22);
  --bp-palette-orange-2: oklch(0.5558 0.1209 62.16);
  --bp-palette-orange-3: oklch(0.599 0.1403 61.84);
  --bp-palette-orange-4: oklch(0.753 0.1439 65.59);
  --bp-palette-orange-5: oklch(0.9056 0.0455 61.84);

  /* Red scale */
  --bp-palette-red-1: oklch(0.4614 0.1643 29.2);
  --bp-palette-red-2: oklch(0.5378 0.1973 29.19);
  --bp-palette-red-3: oklch(0.5513 0.2089 29.6);
  --bp-palette-red-4: oklch(0.6553 0.1748 27.42);
  --bp-palette-red-5: oklch(0.8913 0.0408 29.6);

  /* Cerulean scale */
  --bp-palette-cerulean-1: oklch(0.4133 0.0858 237.75);
  --bp-palette-cerulean-2: oklch(0.5154 0.1088 237.81);
  --bp-palette-cerulean-3: oklch(0.5395 0.1195 238.05);
  --bp-palette-cerulean-4: oklch(0.688 0.1205 234.59);
  --bp-palette-cerulean-5: oklch(0.8872 0.0375 238.05);

  /* Forest scale */
  --bp-palette-forest-1: oklch(0.4881 0.1398 144.14);
  --bp-palette-forest-2: oklch(0.5864 0.1709 144.11);
  --bp-palette-forest-3: oklch(0.6111 0.1866 144.08);
  --bp-palette-forest-4: oklch(0.7115 0.1894 144.51);
  --bp-palette-forest-5: oklch(0.8947 0.0646 144.08);

  /* Gold scale */
  --bp-palette-gold-1: oklch(0.402 0.0797 84.7);
  --bp-palette-gold-2: oklch(0.5835 0.119 81.86);
  --bp-palette-gold-3: oklch(0.6496 0.1458 81.27);
  --bp-palette-gold-4: oklch(0.8101 0.1577 84.45);
  --bp-palette-gold-5: oklch(0.9278 0.0468 81.27);

  /* Indigo scale */
  --bp-palette-indigo-1: oklch(0.4895 0.1244 310.26);
  --bp-palette-indigo-2: oklch(0.5807 0.155 309.63);
  --bp-palette-indigo-3: oklch(0.6013 0.1567 307.72);
  --bp-palette-indigo-4: oklch(0.6877 0.1458 307.46);
  --bp-palette-indigo-5: oklch(0.8799 0.0407 307.72);

  /* Lime scale */
  --bp-palette-lime-1: oklch(0.4074 0.0779 121.58);
  --bp-palette-lime-2: oklch(0.5766 0.1291 123.2);
  --bp-palette-lime-3: oklch(0.6431 0.1627 123.35);
  --bp-palette-lime-4: oklch(0.8332 0.1694 122.11);
  --bp-palette-lime-5: oklch(0.93 0.0507 123.35);

  /* Rose scale */
  --bp-palette-rose-1: oklch(0.4885 0.1719 3.82);
  --bp-palette-rose-2: oklch(0.5588 0.199 4.11);
  --bp-palette-rose-3: oklch(0.5756 0.2119 4.14);
  --bp-palette-rose-4: oklch(0.6664 0.2131 1.55);
  --bp-palette-rose-5: oklch(0.8654 0.0677 4.14);

  /* Sepia scale */
  --bp-palette-sepia-1: oklch(0.4008 0.0598 65.6);
  --bp-palette-sepia-2: oklch(0.502 0.0776 64.42);
  --bp-palette-sepia-3: oklch(0.5254 0.0858 64.34);
  --bp-palette-sepia-4: oklch(0.6473 0.0781 66.37);
  --bp-palette-sepia-5: oklch(0.8889 0.02 64.34);

  /* Turquoise scale */
  --bp-palette-turquoise-1: oklch(0.3777 0.0667 184.47);
  --bp-palette-turquoise-2: oklch(0.5413 0.0953 185.09);
  --bp-palette-turquoise-3: oklch(0.5923 0.1134 184.92);
  --bp-palette-turquoise-4: oklch(0.7528 0.1303 185.29);
  --bp-palette-turquoise-5: oklch(0.916 0.0341 184.92);

  /* Vermilion scale */
  --bp-palette-vermilion-1: oklch(0.4495 0.1493 34.51);
  --bp-palette-vermilion-2: oklch(0.5396 0.1813 34.2);
  --bp-palette-vermilion-3: oklch(0.559 0.1926 34.41);
  --bp-palette-vermilion-4: oklch(0.6728 0.1697 35.29);
  --bp-palette-vermilion-5: oklch(0.8913 0.0449 34.41);

  /* Violet scale */
  --bp-palette-violet-1: oklch(0.3663 0.1105 327.54);
  --bp-palette-violet-2: oklch(0.4763 0.1502 327.61);
  --bp-palette-violet-3: oklch(0.5034 0.17 327.64);
  --bp-palette-violet-4: oklch(0.6483 0.1481 327.11);
  --bp-palette-violet-5: oklch(0.8867 0.0342 327.64);

  /* OSDK tokens override */
  --osdk-checkbox-border: var(--bp-surface-border-width) solid
    var(--bp-surface-border-color-strong);
  --osdk-checkbox-bg-hover: var(--bp-palette-gray-5);
  --osdk-checkbox-bg-active: var(--bp-palette-gray-4);
  --osdk-checkbox-bg-checked: var(--bp-palette-white);
  --osdk-checkbox-bg-checked-hover: var(--bp-palette-light-gray-5);
  --osdk-checkbox-bg-checked-active: var(--osdk-checkbox-bg-active);
  --osdk-checkbox-checked-foreground: var(--bp-palette-dark-gray-1);

  --osdk-table-header-color: var(--bp-typography-color-default-rest);
  --osdk-table-row-bg-default: var(--bp-palette-white);
  --osdk-table-row-bg-alternate: oklch(
    from var(--bp-palette-light-gray-5) l c h / 0.5
  );
  --osdk-table-row-bg-hover: var(--bp-surface-background-color-default-hover);
  --osdk-table-row-border-color-hover: var(--osdk-table-border-color);
  --osdk-table-row-bg-active: var(--bp-palette-blue-5);
}
