@import "./next-tokens.css";

:root {
  --osdk-surface-z-index-1: var(--bp-surface-z-index-1);
  --osdk-surface-z-index-2: var(--bp-surface-z-index-2);
  --osdk-surface-z-index-3: var(--bp-surface-z-index-3);
  --osdk-surface-z-index-4: var(--bp-surface-z-index-4);
  --osdk-surface-border-radius: var(--bp-surface-border-radius);
  --osdk-surface-layer-primary: var(--bp-surface-layer-primary-rest);
  --osdk-surface-border-width: var(--bp-surface-border-width);
  --osdk-surface-border-color-default: var(--bp-surface-border-color-neutral);
  --osdk-surface-border-color-strong: var(--bp-surface-border-color-neutral);
  --osdk-surface-background-color-default-rest: var(
    --bp-surface-background-color-base-rest
  );
  --osdk-surface-background-color-default-hover: var(
    --bp-surface-background-color-base-hover
  );
  --osdk-surface-background-color-default-active: var(
    --bp-surface-background-color-base-active
  );
  --osdk-surface-background-color-danger-rest: var(
    --bp-surface-background-color-danger-rest
  );
  --osdk-surface-background-color-danger-hover: var(
    --bp-surface-background-color-danger-hover
  );
  --osdk-surface-background-color-danger-active: var(
    --bp-surface-background-color-danger-active
  );
  --osdk-surface-spacing: var(--bp-surface-spacing);
  --osdk-surface-shadow-2: var(--bp-surface-shadow-2);
  --osdk-typography-family-default: var(--bp-typography-family-body);
  --osdk-typography-color-muted: var(--bp-typography-color-intent-neutral);
  --osdk-typography-color-default-rest: var(--bp-typography-color-base);
  --osdk-typography-color-default-hover: var(--bp-typography-color-base);
  --osdk-typography-color-default-active: var(--bp-typography-color-base);
  --osdk-typography-color-default-disabled: var(
    --bp-typography-color-intent-neutral
  );
  --osdk-typography-color-primary-rest: var(
    --bp-typography-color-intent-primary
  );
  --osdk-typography-color-danger-rest: var(--bp-typography-color-intent-danger);
  --osdk-typography-color-danger-active: var(
    --bp-typography-color-intent-danger
  );
  --osdk-typography-size-body-x-small: var(--bp-typography-size-2xs);
  --osdk-typography-size-body-small: var(--bp-typography-size-sm);
  --osdk-typography-size-body-medium: var(--bp-typography-size-md);
  --osdk-typography-size-body-large: var(--bp-typography-size-xl);
  --osdk-typography-line-height-default: calc(
    var(--bp-typography-line-height-running-factor) * 1.164
  );
  --osdk-typography-weight-default: var(--bp-typography-weight-default);
  --osdk-typography-weight-bold: var(--bp-typography-weight-strong);
  --osdk-intent-default-rest: var(--bp-intent-neutral-500);
  --osdk-intent-default-hover: var(--bp-intent-neutral-600);
  --osdk-intent-default-active: var(--bp-intent-neutral-700);
  --osdk-intent-default-disabled: var(--bp-intent-neutral-300);
  --osdk-intent-default-foreground: var(--bp-intent-neutral-foreground);
  --osdk-intent-primary-rest: var(--bp-intent-primary-500);
  --osdk-intent-primary-hover: var(--bp-intent-primary-600);
  --osdk-intent-primary-active: var(--bp-intent-primary-700);
  --osdk-intent-primary-disabled: var(--bp-intent-primary-300);
  --osdk-intent-primary-foreground: var(--bp-intent-primary-foreground);
  --osdk-intent-success-rest: var(--bp-intent-success-500);
  --osdk-intent-success-hover: var(--bp-intent-success-600);
  --osdk-intent-success-active: var(--bp-intent-success-700);
  --osdk-intent-success-disabled: var(--bp-intent-success-300);
  --osdk-intent-success-foreground: var(--bp-intent-success-foreground);
  --osdk-intent-warning-rest: var(--bp-intent-warning-500);
  --osdk-intent-warning-hover: var(--bp-intent-warning-600);
  --osdk-intent-warning-active: var(--bp-intent-warning-700);
  --osdk-intent-warning-disabled: var(--bp-intent-warning-300);
  --osdk-intent-warning-foreground: var(--bp-intent-warning-foreground);
  --osdk-intent-danger-rest: var(--bp-intent-danger-500);
  --osdk-intent-danger-hover: var(--bp-intent-danger-600);
  --osdk-intent-danger-active: var(--bp-intent-danger-700);
  --osdk-intent-danger-disabled: var(--bp-intent-danger-300);
  --osdk-intent-danger-foreground: var(--bp-intent-danger-foreground);
  --osdk-emphasis-focus-width: var(--bp-emphasis-focus-width);
  --osdk-emphasis-focus-color: var(--bp-emphasis-focus-color);
  --osdk-emphasis-focus-offset: var(--bp-emphasis-focus-offset);
  --osdk-emphasis-transition-duration: var(--bp-emphasis-transition-duration);
  --osdk-emphasis-ease-default: var(--bp-emphasis-ease-default);
  --osdk-disabled-opacity: var(--bp-emphasis-disabled-opacity);
  --osdk-palette-gray-1: var(--bp-palette-grey-500);
  --osdk-palette-gray-2: var(--bp-palette-grey-400);
  --osdk-palette-gray-4: var(--bp-palette-grey-200);
  --osdk-palette-blue-4: var(--bp-palette-blue-300);
  --osdk-palette-red-4: var(--bp-palette-red-300);
  --osdk-palette-dark-gray-2: var(--bp-palette-grey-800);
  --osdk-palette-dark-gray-3: var(--bp-palette-grey-700);
  --osdk-palette-light-gray-1: var(--bp-palette-grey-200);
  --osdk-palette-light-gray-3: var(--bp-palette-grey-100);
  --osdk-palette-light-gray-4: var(--bp-palette-grey-100);
  --osdk-palette-light-gray-5: var(--bp-palette-grey-100);
  --osdk-palette-white: var(--bp-palette-white-1000);
  --osdk-palette-black: var(--bp-palette-black-1000);
  --osdk-typography-color-error: var(--bp-typography-color-intent-danger);
  --osdk-typography-color-placeholder: var(
    --bp-typography-color-intent-neutral
  );
  --osdk-background-primary: var(--bp-surface-background-color-base-rest);
  --osdk-background-secondary: var(--bp-surface-layer-color-neutral-rest);
  --osdk-background-tertiary: var(--bp-surface-layer-color-neutral-hover);
  --osdk-background-skeleton-from: var(--bp-surface-layer-color-neutral-rest);
  --osdk-background-skeleton-to: var(--bp-surface-layer-color-neutral-active);
  --osdk-background-backdrop: oklch(
    from var(--bp-surface-background-color-neutral-active) l c h / 0.5
  );
  --osdk-custom-color-gray-1: var(--bp-surface-layer-color-neutral-rest);
  --osdk-custom-color-gray-2: var(--bp-surface-layer-color-neutral-hover);
  --osdk-custom-color-gray-3: var(--bp-surface-layer-color-neutral-hover);
  --osdk-custom-color-gray-4: var(--bp-surface-layer-color-neutral-active);
  --osdk-custom-color-light-gray-1: var(--bp-surface-layer-color-neutral-hover);
  --osdk-custom-color-light-gray-2: var(--bp-surface-layer-color-neutral-rest);
  --osdk-custom-color-primary-1: var(--bp-surface-layer-color-primary-active);
  --osdk-focus-outline: var(--bp-emphasis-focus-width) solid
    var(--bp-emphasis-focus-color);
  --osdk-focus-visible-outline-offset: var(--bp-emphasis-focus-offset);
  --osdk-surface-border: var(--bp-surface-border-width) solid
    var(--bp-surface-border-color-neutral);
  --osdk-drag-handle-color: var(--bp-typography-color-intent-neutral);
  --osdk-drag-handle-color-hover: var(--bp-typography-color-base);
  --osdk-drag-handle-cursor: grab;
  --osdk-drag-handle-cursor-active: grabbing;
  --osdk-iconography-size-small: var(--bp-typography-size-2xl);
  --osdk-iconography-color-muted: var(--bp-typography-color-intent-neutral);
  font-family: var(--bp-typography-family-body);
  color: var(--bp-typography-color-base);
  font-size: var(--bp-typography-size-lg);
  .bp6-icon {
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: text-bottom;
    fill: currentColor;
  }
  .bp6-icon > svg {
    overflow: visible;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
:focus,
:focus-visible {
  outline: none;
}
