.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--osdk-docx-viewer-bg);
  border: var(--osdk-docx-viewer-border);
  border-radius: var(--osdk-surface-border-radius);
  overflow: auto;
}

.loadingContainer {
  composes: loadingContainer from "../shared/LoadingError.module.css";
}

.errorContainer {
  composes: errorContainer from "../shared/LoadingError.module.css";
}

.spinnerIcon {
  composes: spinnerIcon from "../shared/LoadingError.module.css";
}

.errorIcon {
  composes: errorIcon from "../shared/LoadingError.module.css";
}
