.osdkEditableInput {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding: var(--osdk-surface-spacing) calc(var(--osdk-surface-spacing) * 3);
  width: 100%;
  border-radius: var(--osdk-surface-border-radius);

  tr[data-focused="true"] & {
    border: var(--osdk-table-cell-editable-border);
    background: var(--osdk-table-cell-editable-bg);

    &.osdkEditedInput {
      border: var(--osdk-table-cell-edited-border);
    }

    &:focus,
    &.osdkEditedInput:focus {
      border: var(--osdk-emphasis-focus-width) solid
        var(--osdk-emphasis-focus-color);
    }
  }
}

.osdkEditedInput {
  border: var(--osdk-table-cell-edited-border);
  background: var(--osdk-table-cell-editable-bg);
}
