.osdkEditableCell {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--osdk-surface-spacing);

  padding: var(--osdk-surface-spacing) calc(var(--osdk-surface-spacing) * 3);
  border-radius: var(--osdk-surface-border-radius);
  border: var(--osdk-surface-border-width) solid transparent;
  background: inherit;

  tr[data-focused="true"] & {
    border: var(--osdk-table-cell-editable-border);
    background: var(--osdk-table-cell-editable-bg);

    &.osdkEditedInput {
      border: var(--osdk-table-cell-edited-border);
    }

    &:focus-within,
    &.osdkEditedInput:focus-within {
      border: var(--osdk-emphasis-focus-width) solid
        var(--osdk-emphasis-focus-color);
    }

    &.error {
      border: var(--osdk-table-cell-edited-border-error);

      &:focus-within {
        border: var(--osdk-emphasis-focus-width) solid
          var(--osdk-intent-danger-rest);
      }
    }
  }

  &.error {
    background: var(--osdk-table-cell-editable-bg);
    border: var(--osdk-table-cell-edited-border-error);
  }
}

.osdkEditableCellTrigger {
  width: 100%;
}

.osdkEditableCellDropdown {
  /* Override the default borders in dropdown */
  --osdk-select-border-color: transparent;
  --osdk-combobox-border-color: transparent;
  --osdk-combobox-focus-border-color: transparent;

  --osdk-combobox-input-padding: var(--osdk-surface-spacing)
    calc(var(--osdk-surface-spacing) * 3);

  --osdk-select-trigger-padding: var(--osdk-surface-spacing)
    calc(var(--osdk-surface-spacing) * 3);

  border-radius: var(--osdk-surface-border-radius);

  tr[data-focused="true"] & {
    border: var(--osdk-table-cell-editable-border);
    background: var(--osdk-table-cell-editable-bg);

    &.osdkEditedInput {
      border: var(--osdk-table-cell-edited-border);
    }

    &:focus-within,
    &.osdkEditedInput:focus-within {
      border: var(--osdk-emphasis-focus-width) solid
        var(--osdk-emphasis-focus-color);
    }

    &.error {
      border: var(--osdk-table-cell-edited-border-error);

      &:focus-within {
        border: var(--osdk-emphasis-focus-width) solid
          var(--osdk-intent-danger-rest);
      }
    }
  }

  &.error {
    background: var(--osdk-table-cell-editable-bg);
    border: var(--osdk-table-cell-edited-border-error);
  }
}

.osdkEditableCellDatePicker {
  /* Override the default borders in date picker */
  --osdk-datetime-input-border-width: 0px;
  --osdk-datetime-input-border-color: transparent;
  --osdk-datetime-input-border-color-focus: transparent;
  --osdk-datetime-input-focus-width: 0px;
  --osdk-datetime-input-bg: transparent;
  --osdk-datetime-input-bg-hover: transparent;

  --osdk-datetime-input-padding: var(--osdk-surface-spacing)
    calc(var(--osdk-surface-spacing) * 3);

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--osdk-surface-border-radius);

  tr[data-focused="true"] & {
    border: var(--osdk-table-cell-editable-border);
    background: var(--osdk-table-cell-editable-bg);

    &.osdkEditedInput {
      border: var(--osdk-table-cell-edited-border);
    }

    &:focus-within,
    &.osdkEditedInput:focus-within {
      border: var(--osdk-emphasis-focus-width) solid
        var(--osdk-emphasis-focus-color);
    }

    &.error {
      border: var(--osdk-table-cell-edited-border-error);

      &:focus-within {
        border: var(--osdk-emphasis-focus-width) solid
          var(--osdk-intent-danger-rest);
      }
    }
  }

  &.error {
    background: var(--osdk-table-cell-editable-bg);
    border: var(--osdk-table-cell-edited-border-error);
  }
}

.readonlyDisplayCell {
  padding: calc(var(--osdk-surface-spacing) * 0.5) 0;
}

.osdkEditableInput {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  background: inherit;
  border: none;

  &:focus {
    outline: none;
  }
}

.osdkEditedInput {
  border-radius: var(--osdk-surface-border-radius);
  border: var(--osdk-table-cell-edited-border);
  background: var(--osdk-table-cell-editable-bg);
}

.validationError {
  display: flex;
  align-items: center;
  gap: var(--osdk-surface-spacing);
}

.errorIcon {
  color: var(--osdk-intent-danger-rest);
}

.errorIconWrapper {
  margin-right: calc(var(--osdk-surface-spacing) * 3);
}
