.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--osdk-surface-spacing) * 2);
  height: 100%;
  font-family: var(--osdk-typography-family-default);
  font-size: var(--osdk-typography-size-body-medium);
  color: var(--osdk-typography-color-muted);
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--osdk-surface-spacing);
  height: 100%;
  font-family: var(--osdk-typography-family-default);
  font-size: var(--osdk-typography-size-body-medium);
  color: var(--osdk-typography-color-danger-rest);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinnerIcon {
  animation: spin 1s linear infinite;
  color: var(--osdk-typography-color-muted);
}

.errorIcon {
  flex-shrink: 0;
}
