.taskHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.taskCard {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    gap: 10px;
}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 5px;
    align-items: center;
}

.mediaField {
    width: 500px;
    height: auto;
}