.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px;
    background-color: var(--background-color);
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.taskCard {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.taskCard.selected {
    border: 2px solid #007bff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 5px;
    align-items: center;
}