@import "@blueprintjs/core/lib/css/blueprint.css";

/* Level 1 - Blueprint Tokens */
:root {
  /* Blueprint token mappings - Surface tokens */
  --osdk-surface-z-index-1: var(--bp-surface-z-index-1);
  --osdk-surface-z-index-2: var(--bp-surface-z-index-2);
  --osdk-surface-border-radius: var(--bp-surface-border-radius);
  --osdk-surface-border-width: var(--bp-surface-border-width);
  --osdk-surface-border-color-default: var(--bp-surface-border-color-default);
  --osdk-surface-background-color-default-rest: var(
    --bp-surface-background-color-default-rest
  );
  --osdk-surface-background-color-default-hover: var(
    --bp-surface-background-color-default-hover
  );
  --osdk-surface-background-color-default-active: var(
    --bp-surface-background-color-default-active
  );
  --osdk-surface-background-color-danger-rest: var(
    --bp-surface-background-color-danger-rest
  );
  --osdk-surface-background-color-danger-hover: var(
    --bp-surface-background-color-danger-hover
  );
  --osdk-surface-background-color-danger-active: var(
    --bp-surface-background-color-danger-active
  );
  --osdk-surface-spacing: var(--bp-surface-spacing);
  --osdk-surface-shadow-2: var(--bp-surface-shadow-2);

  /* Blueprint token mappings - Typography tokens */
  --osdk-typography-color-muted: var(--bp-typography-color-muted);
  --osdk-typography-color-default-rest: var(--bp-typography-color-default-rest);
  --osdk-typography-color-danger-rest: var(--bp-typography-color-danger-rest);
  --osdk-typography-color-danger-active: var(
    --bp-typography-color-danger-active
  );
  --osdk-typography-size-body-x-small: var(--bp-typography-size-body-x-small);
  --osdk-typography-size-body-small: var(--bp-typography-size-body-small);
  --osdk-typography-size-body-medium: var(--bp-typography-size-body-medium);
  --osdk-typography-weight-bold: 600; /* No corresponding bp token */

  /* Blueprint token mappings - Intent tokens */
  --osdk-intent-default-rest: var(--bp-intent-default-rest);

  --osdk-intent-primary-rest: var(--bp-intent-primary-rest);
  --osdk-intent-primary-foreground: var(--bp-intent-primary-foreground);
  --osdk-intent-primary-hover: var(--bp-intent-primary-hover);
  --osdk-intent-primary-active: var(--bp-intent-primary-active);
  --osdk-intent-danger-rest: var(--bp-intent-danger-rest);
  --osdk-intent-danger-hover: var(--bp-intent-danger-hover);

  /* Blueprint token mappings - Iconography tokens */
  --osdk-iconography-size-small: var(--bp-iconography-size-small);

  /* Blueprint token mappings - Emphasis tokens */
  --osdk-emphasis-focus-width: var(--bp-emphasis-focus-width);
  --osdk-emphasis-focus-color: var(--bp-emphasis-focus-color);
  --osdk-emphasis-focus-offset: var(--bp-emphasis-focus-offset);

  /* Blueprint token mappings - Palette tokens */
  --osdk-palette-gray-1: var(--bp-palette-gray-1);
  --osdk-palette-gray-2: var(--bp-palette-gray-2);
  --osdk-palette-light-gray-1: var(--bp-palette-light-gray-1);
  --osdk-palette-light-gray-3: var(--bp-palette-light-gray-3);
  --osdk-palette-light-gray-4: var(--bp-palette-light-gray-4);
  --osdk-palette-light-gray-5: var(--bp-palette-light-gray-5);

  --osdk-palette-white: var(--bp-palette-white);
  --osdk-palette-black: var(--bp-palette-black);

  /* Shared Styling */
  --osdk-focus-outline: var(--osdk-emphasis-focus-width) solid
    var(--osdk-emphasis-focus-color);
  --osdk-focus-visible-outline-offset: var(--osdk-emphasis-focus-offset);
  --osdk-surface-border: var(--osdk-surface-border-width) solid
    var(--osdk-surface-border-color-default);

  /* Override blueprint focus outline */
  :focus {
    outline: none;
  }

  /* Focus outline for accessibility */
  :focus-visible {
    outline: var(--osdk-focus-outline);
    outline-offset: var(--osdk-focus-visible-outline-offset);
  }
}
