:root {
  /* Table Border */
  --osdk-table-border-color: var(--osdk-surface-border-color-default);
  --osdk-table-border-width: var(--osdk-surface-border-width);
  --osdk-table-border: var(--osdk-table-border-width) solid
    var(--osdk-table-border-color);

  --osdk-table-header-divider: var(--osdk-table-border);
  --osdk-table-cell-divider: var(--osdk-table-border-width) solid transparent;
  --osdk-table-row-divider: var(--osdk-table-border);
  --osdk-table-pinned-column-border: calc(var(--osdk-table-border-width) * 2)
    solid var(--osdk-table-border-color);

  /* Table Header */
  --osdk-table-header-height: 50px;
  --osdk-table-header-bg: var(--osdk-background-secondary);
  --osdk-table-header-fontWeight: var(--osdk-typography-weight-bold);
  --osdk-table-header-fontSize: var(--osdk-typography-size-body-small);
  --osdk-table-header-color: var(--osdk-typography-color-muted);

  /* Table Row */
  --osdk-table-row-bg-default: var(--osdk-background-primary);
  --osdk-table-row-bg-alternate: var(--osdk-background-tertiary);
  --osdk-table-row-bg-hover: color-mix(
    in srgb,
    var(--osdk-intent-primary-hover) 10%,
    var(--osdk-background-primary)
  );
  --osdk-table-row-bg-active: color-mix(
    in srgb,
    var(--osdk-intent-primary-hover) 10%,
    var(--osdk-background-primary)
  );
  --osdk-table-row-border-color-hover: var(--osdk-intent-primary-rest);
  --osdk-table-row-border-color-active: var(--osdk-intent-primary-rest);

  /* Table Cell */
  --osdk-table-cell-padding: 0 calc(var(--osdk-surface-spacing) * 2);
  --osdk-table-cell-fontSize: var(--osdk-typography-size-body-medium);
  --osdk-table-cell-color: var(--osdk-typography-color-default-rest);

  /* Table Header Menu */
  --osdk-table-header-menu-padding: calc(var(--osdk-surface-spacing) * 0.25);
  /* Try to use surface for backgrounds */
  --osdk-table-header-menu-bg: var(--osdk-custom-color-light-gray-2);
  --osdk-table-header-menu-border: var(--osdk-surface-border-width) solid
    var(--osdk-custom-color-gray-4);
  --osdk-table-header-menu-color: var(--osdk-typography-color-muted);
  --osdk-table-header-menu-color-active: var(
    --osdk-typography-color-default-rest
  );
  --osdk-table-header-menu-bg-hover: var(--osdk-custom-color-gray-1);
  --osdk-table-header-menu-bg-active: var(--osdk-custom-color-gray-2);

  /* Resizer */
  --osdk-table-resizer-color-hover: var(--osdk-custom-color-primary-1);
  --osdk-table-resizer-color-active: var(--osdk-intent-primary-rest);

  /* Table Skeleton loading */
  --osdk-table-skeleton-color-from: var(--osdk-background-skeleton-from);
  --osdk-table-skeleton-color-to: var(--osdk-background-skeleton-to);
  --osdk-table-skeleton-border-color: var(--osdk-custom-color-light-gray-1);

  /* Column Config Dialog */
  --osdk-table-column-config-dialog-min-width: 800px;
  --osdk-table-column-config-dialog-min-height: 400px;
  --osdk-table-column-config-visible-columns-bg: var(
    --osdk-background-secondary
  );

  /* Editable Table */
  --osdk-table-cell-editable-bg: var(--osdk-background-primary);
  --osdk-table-button-container-padding: calc(var(--osdk-surface-spacing) * 2)
    calc(var(--osdk-surface-spacing) * 4);
}
