/* Time Picker Styling */
:root {
  --osdk-datetime-time-margin-top: calc(var(--osdk-surface-spacing) * 2);
  --osdk-datetime-time-padding-top: calc(var(--osdk-surface-spacing) * 2);
  --osdk-datetime-time-border-top: var(--osdk-surface-border);
  --osdk-datetime-time-gap: calc(var(--osdk-surface-spacing) * 4);
  --osdk-datetime-time-input-font-family: var(--osdk-input-font-family);
  --osdk-datetime-time-input-font-size: var(--osdk-input-font-size);
  --osdk-datetime-time-input-padding: var(--osdk-input-padding);
  --osdk-datetime-time-input-border: var(--osdk-input-border-width) solid
    var(--osdk-input-border-color);
  --osdk-datetime-time-input-border-radius: var(--osdk-input-border-radius);
  --osdk-datetime-time-input-bg: var(--osdk-input-bg);
  --osdk-datetime-time-input-color: var(--osdk-input-color);
  --osdk-datetime-time-input-border-color-focus: var(
    --osdk-input-border-color-focus
  );
  --osdk-datetime-time-input-focus-outline: var(--osdk-input-focus-width) solid
    var(--osdk-input-focus-color);
  --osdk-datetime-time-input-focus-offset: var(--osdk-input-focus-offset);
}
