//swirl.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@rc-public-message-board-app:registry=https://swirl.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.11189a2f-247e-48f1-b5ef-eec6d505f967/contents/release/npm/
