:root {
  --osdk-object-set-gap: calc(var(--osdk-surface-spacing) * 2);
  --osdk-object-set-min-height: 30px;
  --osdk-object-set-padding: calc(var(--osdk-surface-spacing) * 1.5) 0;
  --osdk-object-set-color: var(--osdk-typography-color-default-rest);
  --osdk-object-set-placeholder-color: var(--osdk-typography-color-muted);
  --osdk-object-set-font-family: var(--osdk-typography-family-default);
  --osdk-object-set-font-size: var(--osdk-typography-size-body-medium);
  --osdk-object-set-line-height: var(--osdk-typography-line-height-default);

  /* Error state */
  --osdk-object-set-error-color: var(--osdk-intent-danger-rest);

  /* Icon skeleton */
  --osdk-object-set-icon-skeleton-width: calc(var(--osdk-surface-spacing) * 4);

  /* Label skeleton */
  --osdk-object-set-label-skeleton-width: calc(
    var(--osdk-surface-spacing) * 30
  );
}
