:root {
  --osdk-radio-size: calc(var(--osdk-surface-spacing) * 4);
  --osdk-radio-indicator-size: calc(var(--osdk-surface-spacing) * 2);
  --osdk-radio-gap: calc(var(--osdk-surface-spacing) * 2);
  --osdk-radio-item-gap: calc(var(--osdk-surface-spacing) * 2);
  --osdk-radio-border: var(--osdk-surface-border);
  --osdk-radio-bg: transparent;
  --osdk-radio-bg-hover: var(--osdk-surface-background-color-default-hover);
  --osdk-radio-bg-checked: var(--osdk-intent-primary-rest);
  --osdk-radio-bg-checked-hover: var(--osdk-intent-primary-hover);
  --osdk-radio-bg-checked-active: var(--osdk-intent-primary-active);
  --osdk-radio-indicator-color: var(--osdk-intent-primary-foreground);
  --osdk-radio-focus-outline: var(--osdk-focus-outline);
  --osdk-radio-focus-outline-offset: calc(
    -1 * var(--osdk-focus-visible-outline-offset)
  );
  --osdk-radio-label-font-family: var(--osdk-typography-family-default);
  --osdk-radio-label-font-size: var(--osdk-typography-size-body-medium);
  --osdk-radio-label-line-height: var(--osdk-typography-line-height-default);
  --osdk-radio-label-color: var(--osdk-typography-color-default-rest);
}
