:root {
  --osdk-tooltip-z-index: var(--osdk-surface-z-index-4);
  --osdk-tooltip-padding: calc(var(--osdk-surface-spacing) * 2)
    calc(var(--osdk-surface-spacing) * 4);
  --osdk-tooltip-bg: var(--osdk-background-primary);
  --osdk-tooltip-border-color: var(--osdk-palette-gray-4);
  --osdk-tooltip-shadow: var(--osdk-surface-shadow-2);
  --osdk-tooltip-max-width: 300px;
}
