:root {
  color: #1c2127;
  font-family: 'Source Sans Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-size: 14px;
  font-synthesis: none;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-container {
  align-items: center;
  display: flex;
  flex: 1;
}

#app {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

h2,
h5,
h6 {
  font-size: 14px;
  margin: 0;
}
