name: CI

on:
  push:
    branches: 
      - main
      - release/*
      - next
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    strategy:
      matrix:
        node: [18, 20, 21]

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 8.7.4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Transpile, typecheck, Lint and test
        run: pnpm check

      - name: temporary
        run: node packages/tool.release/build/js/index.mjs --repo palantir/osdk-ts --mode 'version'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # catches some of the examples that don't have transpile/typecheck tasks
      - name: Build
        run: pnpm build

      - name: Verify nothing changed
        run: git diff --exit-code

      - name: Verify nothing added
        run: u="$(git ls-files --others --exclude-standard)" && test -z "$u"

      - name: Check for changesets
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          git fetch origin main:main
          git checkout ${GITHUB_HEAD_REF}
          pnpm exec changeset status --since=main

      - name: Play with publishing
        run: pnpm publish -r --report-summary --dry-run

      - name: Save publish data
        uses: actions/upload-artifact@v4
        with:
          name: published-packages
          path: pnpm-publish-summary.json

