.body {
    align-items: center;
    display: flex;
    height: 100%;
}

body,
html {
    height: 100%;
}

iframe {
    display: none;
}

.description {
    display: flex;
    align-items: center;
    gap: 5px;
}

.response-block {
    text-align: left;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.bp5-non-ideal-state > * {
    max-width: min(100%, 800px);
}