/**
 * CSS Layer setup
 */
@layer tailwind, osdk.components, osdk.tokens, custom.theme;

/* Import OSDK components styles */
@import "@osdk/react-components/styles.css" layer(osdk.components);

/* Import OSDK tokens (Blueprint Level 1 + OSDK Level 2 tokens) */
@import "@osdk/react-components-styles" layer(osdk.tokens);

/* Tailwind directives in their own layer */
@layer tailwind {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

#root {
  isolation: isolate;
}

/* Custom app styles */
@layer custom.theme {
  body {
    background-color: #fafafa;
  }
}
